<div class="card">
  <div class="card-content">
    <div class="card-header">Contact Us</div>
    <hr/>
    <div class="contact-link-group">
      <div class="contact-link">
        <img src="../../assets/icons/iconmonstr-gmail-1.svg"/>
        <div class="social-title">ufsapa@gmail.com</div>
      </div>
      <div class="contact-link">
        <img src="../../assets/icons/iconmonstr-facebook-6.svg"/>
          <div class="social-title">@ufsapa</div>
      </div>
      <div class="contact-link">
        <img src="../../assets/icons/iconmonstr-instagram-11.svg"/>
          <div class="social-title">@ufsapa</div>
      </div>
    </div>
  </div>
</div>
