img {
    width: 100px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
}

.contact-link-group {
    margin-top: 25px;
    display: flex;
    justify-content: space-evenly;
}

.contact-link {
    display: flex;
    flex-direction: column;
    text-decoration: none;
}

.social-title {
    text-align: center;
    font-weight: 900;
}