img {
    width: 100px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    transition: all .25s;
}

img:hover {
    transform: scale(1.20);
}

.contact-link-group {
    margin-top: 25px;
    display: flex;
    justify-content: space-evenly;
}

.contact-link {
    display: flex;
    flex-direction: column;
    text-decoration: none;
}

.social-title {
    margin-top: 10px;
    text-align: center;
    font-weight: 900;
}

.main-content-card {
    min-height: 325px;
}