<div class="card main-content-card">
  <div class="card-content">
    <div class="card-header">Contact Us</div>
    <hr/>
    <div class="contact-link-group">
      <a class="contact-link" href="mailto:ufsapa+web@gmail.com">
        <img src="../../assets/icons/iconmonstr-gmail-1.svg"/>
        <div class="social-title">ufsapa@gmail.com</div>
      </a>
      <a target="_blank" href="https://facebook.com/ufsapa" class="contact-link">
        <img src="../../assets/icons/iconmonstr-facebook-6.svg"/>
          <div class="social-title">@ufsapa</div>
      </a>
      <a target="_blank" href="https://www.instagram.com/ufsapa/" class="contact-link">
        <img src="../../assets/icons/iconmonstr-instagram-11.svg"/>
          <div class="social-title">@ufsapa</div>
      </a>
    </div>
  </div>
</div>
