img {
    width: 200px;
    height: 200px;
    border-bottom-right-radius: 15px;
}

input {
    box-sizing:border-box;
    border-style: solid;
    margin-top: 15px;
    height: 40px;
    font-size: 20px;
    width: 100%;
    border-radius: 5px;
    padding-left: 8px;
}

input:focus {
    outline: none;
}

.no-results {
    margin: 20px;
    text-align: center;
    font-size: 30px;
    font-family: 'Roboto', Georgia, Times, serif;
}

.card:hover {
    background: #f9f9f9;
    transform: scale(1.05);
}