<div class="loading-container">
  <div *ngIf="memberService.loading" class="loading"></div>
</div>

<div *ngIf="!memberService.loading">
  <input [(ngModel)]="filterText" placeholder="Filter by Name, Country, Program, or Major">

  <div class="card-container pointer" *ngFor="let member of members | filter : filterText"
    routerLink="/member/{{member.id}}">
    <app-member-card [member]="member"></app-member-card>    

  </div>

  <div class="no-results" *ngIf="(members | filter: filterText).length === 0">
    No SAPAs matched your search :(
    <br>
    Try another query!
  </div>

</div>
