body {
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    max-width: 840px;
    background-image: url('./assets/stripes-light.png');
}

h1 {
    font-family: 'Domine', Helvetica, Arial, serif;
}

p {
    font-family: 'Roboto', Georgia, Times, sans-serif;
}

.card {
    display: flex;
    flex-direction: row;
    background: #fff;
    box-shadow: 3px 4px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    margin: 10px 0;
    overflow: auto;
}

.card-image {
    float: left;
}

.card-header {
    font-family: 'Domine', Helvetica, Arial, serif;
    font-size: 34px;
    margin-bottom: 10px;
}

.card-content {
    font-family: 'Roboto', Georgia, Times, sans-serif;
    font-size: 18px;
    display: inline-block;
    width: 100%;
    margin: 25px;
}

.card-content div {
    margin-bottom: 4px;
}

hr { 
    display: block;
    height: 5px;
    background: #CFDBCB;
    margin-top: 0.5em;
    margin-bottom: 1em;
    margin-left: auto;
    margin-right: 50px;
    overflow: hidden;
    border: none;
    border-radius: 5px;
    transition: all .5s;
}

.loading-container {
    width: 150px;
    height: 150px;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.loading {
    margin: auto;
    width: 128px;
    height: 128px;
    border-radius: 50%;
    border: 5px solid #E28F41;
    border-color: #E28F41 transparent #E28F41 transparent;
    animation: loading 1.2s linear infinite;
}

.pointer {
    cursor: pointer;
}

@keyframes loading {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

  